body {
    padding: 0px;
    margin: 0px;
    font-family: "Nunito", sans-serif;
    background-color: #f8fafc;
}

h4 {
    font-size: 1.3em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Roboto", sans-serif;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 0px;
    color: #606060;
    font-weight: 400;
}

.navbar-laravel { background-color: #f6e019; }

.sidebar-nav {
    padding: 0px;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(206, 206, 206, 0.502);
    font-size: 15px;
    color: #000000;
    cursor: pointer;
    padding-left: 10px;
    transition: 0.3s;
    font-weight: 500;
}

.is-active {
    background: rgba(255, 193, 7, 0.722);
}

.sidebar-nav li a:hover {
    background: rgba(255, 193, 7, 0.722);
    text-decoration: none;
    font-weight: bold;
}

.sidebar-nav li a:not([href]):not([tabindex]) {
    color: #175990;
}
.sidebar-nav li ul {
    margin-left: 2rem;
}

#menu_toggle {
    margin-top: 0.66em;
    float: left;
}

#menu_toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 2px 0px;
    background: #000000;
}
.cursor-pointer {
    cursor: pointer;
}
#menu_toggle + p {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 0.35rem;
    float: left;
    font-size: 1.04rem;
    margin-top: 0.65rem;
    margin-left: 0.2rem;
    margin-bottom: -1rem;
}
.dash {
    background: #e8f0f2;
    padding: 1rem 0.8rem 0.5rem 0.8rem;
    border-bottom: 1px solid rgba(206, 206, 206, 0.502);
}

.dash a {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: default;
    color: #000000;
}

.sidebar-nav { margin-bottom: 0rem; }

#sidebar-wrapper {
    position: fixed; height: 100vh; width: 0%; overflow-x: hidden; 
    top: 0rem; border-right: 1px #dddddd solid;
}

#wrapper.menuDisplayed #sidebar-wrapper { width: 250px; background-color: #fff; z-index: 1050; }

#page-content-wrapper {
    min-height: 426px; width: 100%; margin-left: 0%; background: #fff; top: 0rem;  z-index: -1;
}

#wrapper.menuDisplayed #page-content-wrapper { background: #fff; margin-left: 0%; width: 100%; z-index: -1; }

.pr-det>.image {
    height: 250px;
    border: 1px solid rgba(238, 238, 238, 0.431);
}

.card-img-top {
    height: 100%;
}

.prods>.pr-cd:hover {
    background-color: rgba(232, 213, 45, 0.61);
    box-shadow: lightgray 3px 3px;
    border: 1px solid #c2bdbd;
}

/* Starting of navbar styles */
.navbar .row {
    width: 100%;
}
.navbar-brand {
    padding-top: 0rem;
    font-size: 2.5rem;
}
.img-circle {
    border-radius: 50%;
}
.hideCats {
    display: none;
}
.nav-link {
    padding: 0.4em;
}
.navbar-light .navbar-brand {
    margin-left: 0.5rem;
    line-height: 2rem;
}
.navbar-nav > li {
    margin-left: 0.3em;
}
.navbar-nav > li:nth-child(1) > .nav-link > span:nth-child(1) {
    font-weight: 700;
}
.navbar-nav > li:nth-child(2) {
    margin-top: -4px;
}
.navbar-nav > li:nth-child(2) > a {
    padding: 3px 5px 5px 5px;
}
.navbar-nav > li:nth-child(2) > a > .icon > svg {
    vertical-align: bottom;
}
.navbar-nav > li:nth-child(2) > a > .icon > span {
    font-size: 14px;
    background: rgb(226, 54, 48);
    border-radius: 50%;
    color: #fff;
    padding: 2px 4px;
    vertical-align: super;
    margin-left: -4px;
}
.navbar-nav > li:nth-child(2) > a > i:hover,
.navbar-nav > li:nth-child(2) > a:nth-child(1):hover,
.login > .nav-link:hover {
    background-color: #000;
    color: #fff !important;
    cursor: pointer;
}
.dropdown-menu > .nav-item > .nav-link:hover {
    background-color: #3490dc;
    color: #fff !important;
    cursor: pointer;
}
.header-search-form {
    width: 100%;
    position: relative;
    padding: 0 10px;
}
.header-search-form input {
    width: 100%;
    height: 38px;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    padding: 0 19px;
    background: #f0f0f0ba;
}
.header-search-form button {
    position: absolute;
    height: 100%;
    right: 18px;
    top: 0;
    font-size: 1.4rem;
    color: #514a4a;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
/* End of navbar styles */
.pr-cd .btn-warning:hover {
    background-color: #3490dc;
    color: #fff;
    border-color: #3490dc;
    cursor: pointer;
}
.pr-det {
    color: #000;
    text-decoration: none;
    font-size: 1.09rem;
}
.pr-det:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pr-det .card-text {
    margin-bottom: 5px;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
}

.pr-det p {
    color: #000000db;
    font-size: 0.987rem;
    line-height: 1.5;
    padding: 0.5rem;
}

.pr-cd > .card-body {
    padding: 0rem 0em 0em 0em;
}
ol.breadcrumb {
    margin-bottom: 0px;
}
/******************************************* Single products page*********************/
.product_description_area {
    padding-bottom: 120px;
    margin-top: 60px;
}
.product_description_area .nav.nav-tabs {
    display: block;
    border: none;
    padding: 10px 0px;
}
.product_description_area .nav.nav-tabs li {
    display: inline-block;
    margin-right: 7px;
}
.product_description_area .nav.nav-tabs li a.active {
    background: #ffc107;
    color: #fff;
    border-color: #ffc107;
}
.product_description_area .nav.nav-tabs li a {
    padding: 0px;
    border: none;
    line-height: 38px;
    background: #fff;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    padding: 0px 30px;
    color: #2a2a2a;
    font-size: 13px;
    font-weight: normal;
    border-radius: 50px;
}
.product_description_area .tab-content {
    padding-top: 30px;
}
.product_description_area .tab-content .table {
    margin-bottom: 0px;
}
.product_description_area .tab-content .table tbody tr:first-child td {
    border-top: 0px;
}
.product_description_area .tab-content .table tbody tr td {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.product_description_area .tab-content .table tbody tr td h5 {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #797979;
    margin-bottom: 0px;
    white-space: nowrap;
}
.review_item {
    margin-bottom: 35px;
}
.review_item .media {
    position: relative;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.review_item .media .d-flex {
    padding-right: 15px;
}
.review_item .media .media-body {
    vertical-align: middle;
    align-self: center;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.review_item .media .media-body h4 {
    margin-bottom: 0px;
    font-size: 14px;
    color: #2a2a2a;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
}
.review_item .media .media-body div.stars {
    margin-top: -5px;
}
.review_item .media .media-body .fa-star {
    color: #fbd600;
}
.review_item .media .media-body h5 {
    font-size: 13px;
    font-weight: normal;
    color: 797979;
}
.review_item .media .media-body .reply_btn {
    border: 1px solid #e0e0e0;
    padding: 0px 28px;
    display: inline-block;
    line-height: 32px;
    border-radius: 16px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: #2a2a2a;
    position: absolute;
    right: 0px;
    top: 14px;
}
.review_box h4 {
    font-size: 24px;
    color: #2a2a2a;
    margin-bottom: 20px;
    font-weight: 700;
}
.review_box .contact_form {
    margin-top: 15px;
}
.review_box .form-control {
    height: 50px;
    border-radius: 0;
}
textarea.form-control {
    height: auto !important;
}
.review_box p {
    margin-bottom: 0px;
    display: inline-block;
    font-weight: 500;
}
.review_box .list {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.review_box .list li {
    display: inline-block;
}
.review_box .list li a {
    display: inline-block;
    color: #fbd600;
}
section h2 {
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}
.card-img, .card-img-top {
    margin-bottom: 0.5em;
}
.btn-warning {
    color: #514a4a;
}
.s_product_text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 10px;
}
.s_product_text h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2f7dfc;
    margin-bottom: 15px;
}
.s_product_text .list li {
    margin-bottom: 5px;
}
.s_product_text .list li a.active {
    color: #2f7dfc;
}
.s_product_text .list li a, .s_product_text .list li span {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #555555;
    text-decoration: none;
}
.s_product_text .list li a.active span {
    color: #555;
}
.s_product_text .list li a span {
    width: 90px;
    display: inline-block;
}
.s_product_text p {
    padding-top: 20px;
    border-top: 1px dotted #d5d5d5;
    margin: 20px 0;
}
.s_product_text .card_area {
    padding: 20px 0;
}
.s_product_text .product_count {
    border: 1px solid #ddd;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 12px 15px;
}
.s_product_text .card_area .product_count span {
    cursor: pointer;
}
.s_product_text .card_area .product_count input {
    border: 0px solid 
    transparent;
    text-align: center;
}
.s_product_text .product_count .input-number {
    display: inline-block;
    width: 60px;
}
.s_product_text .add_to_cart a {
    text-decoration: none;
}
.s_product_text .add_to_cart {
    margin: 25px 0;
}
.s_product_text .btn_3 {
    padding: 13px 36px;
}
.btn_3 {
    display: inline-block;
    padding: 9px 42px;
    border-radius: 50px;
    background-color: #ffc107;
    /* background-color: #2f7dfc; */
    border: 1px solid #ffc107;
    /* border: 1px solid #f4f4f4; */
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    /* border: 1px solid #2f7dfc; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}
.btn_3:hover{
    color: #fff;
    background-color: #2f7dfc;
    box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #2f7dfc;
}
.card_area .social_icon a {
    display: inline-block;
    border-radius: 50%;
    background-color: #3b5998;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}
.card_area .social_icon a:hover{
    background-color: #55acee;
}
.s_product_text .like_us {
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #7f7f7f;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
    box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.s_product_text .like_us:hover{
    background-color: #2f7dfc;
    color: #fff;
}
.card_area .social_icon .tw {
    background-color: #55acee;
}
.card_area .social_icon .li {
    background-color: #0077b5;
}
.si-pg .prod-tit {
    padding: 0.6rem 0.6rem 0.9rem 0.6rem;
}

.si-pg .prod-am {
    padding-bottom: 0.4rem;
    padding-top: 1rem;
}
div.card.pr-cd.si-pg .pr-det .image img {
    height: 100%;
}
div.card.pr-cd.si-pg .pr-det .image {
    height: 400px;
    max-height: 400px;
}
.sin-ima {
    margin-right: 0px;
    margin-left: 0px;
}
.sin-ima .col-3 {
    max-width: 22%;
    max-height: 75px;
}

/****************** Footer styles *************** */
footer {
    margin-top: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    letter-spacing: 1px;
}
footer .nav-link {
    color: #f6e019;
}
footer .nav-link:hover {
    color: #3490dc;
}
.designer {
    color: #2bbc2b;
}
/******** End of footer styles *********/

/************** Categories page*************** */
.category-page .left-side-area {
    max-width: 20%;
}
.category-page .left_widgets {
    margin-bottom: 30px;
    border: 1px solid #eff2f3;
}
.category-page .filter-widget {
    margin-bottom: 0px;
}
.category-page .l_w_title {
    padding-left: 30px;
    padding-right: 30px;
}
.category-page .l_w_title h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #2a2a2a;
    font-weight: 510;
    line-height: 40px;
    position: relative;
}
.l_w_title h3::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1.52px;
    background: #f6e019;
}
.category-page .p_filter_widgets .widgets_inner:last-child {
    border-bottom: 0px;
}
.category-page .p_filter_widgets .widgets_inner {
    border-bottom: 1px solid #eeeeee;
}
.category-page .widgets_inner {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 15px;
}
.category-page .list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.category-page .p_filter_widgets .list li {
    margin-bottom: 18px;
}
.category-page .p_filter_widgets .list li a {
    padding-left: 30px;
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    color: #797979;
    position: relative;
    text-decoration: none;
}
/* .category-page .p_filter_widgets .list li a:hover {
    color: #000;
    font-weight: bold;
}
 */.p_filter_widgets .list li a::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #797979;
    position: absolute;
    left: 0px;
    top: 4px;
    transition: all 300ms linear 0s;
}
.p_filter_widgets .list li a::after {
    content: "";
    height: 4px;
    width: 4px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 8px;
    transition: all 300ms linear 0s;
}
.p_filter_widgets .list li.active a::before, .p_filter_widgets .list li:hover a::before,
.p_filter_widgets .list li a.nuxt-link-active::before {
    background: #71cd14;
    border-color: #71cd14;
}
.p_filter_widgets .list li.active a, .p_filter_widgets .list li a:hover, 
.p_filter_widgets .list li a.nuxt-link-active {
    color: #000;
    font-weight: bold;
}
.category-page .product_top_bar {
    clear: both;
    display: flex;
    padding: 10px 20px;
}
.category-page .product_top_bar .left_dorp {
    display: inline-block;
    clear: none;
    border-radius: 0px;
}
.category-page .product_top_bar .left_dorp .sorting {
    height: 40px;
    width: 210px;
    padding-left: 20px;
    border: 1px solid #eeeeee;
}
.category-page .product_top_bar .left_dorp .show {
    height: 40px;
    width: 120px;
    padding-left: 20px;
    margin-left: 10px;
    border: 1px solid #eeeeee;
}
.category-page .product_top_bar .left_dorp .show .list {
    width: 100%;
    border-radius: 0px;
}
.category-page .latest_product_inner {
    margin-bottom: -50px;
}
.category-page .pr-det > .image {
    height: 210px;
}
.filter-widget .l_w_title {
    padding-left: 10px;
}
.filter-widget .filter-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background: #e7ab3c;
    padding: 7px 20px 5px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
}
 .filter-widget .filter-range-wrap {
    margin-bottom: 40px;
}
.category-page .filter-widget .filter-range-wrap .range-slider {
    margin-bottom: 25px;
}
.category-page .filter-widget .filter-range-wrap .range-slider .price-input {
    position: relative;
}
.category-page .filter-widget .filter-range-wrap .range-slider .price-input input:nth-child(1) {
    margin-right: 28px;
}
.category-page .filter-widget .filter-range-wrap .range-slider .price-input input {
    font-size: 16px;
    color: #6c6969;
    max-width: 40%;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 2px;
}
.category-page .filter-widget .filter-range-wrap .range-slider .price-input::after {
    position: absolute;
    left: 90px;
    top: 13px;
    height: 1px;
    width: 17px;
    background: #ebebeb;
    content: "";
}
.category-page .filter-widget .filter-range-wrap .price-range.ui-widget-content {
    border: none;
    background: #e7ab3c;
    height: 3px;
    cursor: pointer;
}
.category-page .filter-widget .filter-range-wrap .price-range {
    border-radius: 0;
}
.category-page .filter-widget .filter-range-wrap .price-range .ui-slider-range {
    background: #ebebeb;
    border-radius: 0;
    cursor: pointer;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-slider {
    position: relative;
    text-align: left;
}
/* .ui-slider {
    text-align: left;
} */
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}
/* .filter-widget .filter-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
    background: #e7ab3c;
} */
.filter-widget .filter-range-wrap .price-range.ui-widget-content .ui-slider-handle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    border: none;
    -webkit-box-shadow: 1px 6px 14px -4px #425c6d;
    box-shadow: 1px 6px 14px -4px #425c6d;
    outline: none;
    cursor: pointer;
}
.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: bold;

}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}
.category-page .pr-det .card-text {
    margin-bottom: 5px;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
}
.category-page .pr-det p {
    color: rgba(0,0,0,0.85882);
    font-size: 0.987rem;
    line-height: 1.5;
    padding: 0.5rem;
}
.category-page .pr-det {
    color: #000;
    text-decoration: none;
    font-size: 1.09rem;
}
/************** End of Categories page*************** */
/***** cart page *****/
.cart-page .checkout-top {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.cart-page .checkout-top h2 {
    font-size: 1.5rem;
}
.cart-page .ca-prod .btn-success {
    float: right;
}
.cart-page .ca-prod .card {
    clear: both;
    margin-bottom: 1em;
}
.cart-page .ca-prod .image {
    float: left;
    width: 23%;
}
.cart-page .ca-prod .content {
    float: left;
    width: 77%;
    padding: 0.5em 0.5em 0.5em 1.5rem;
}
.cart-page .ca-prod input.form-control {
    display: inline;
    width: 15%;
    font-weight: bold;
}
.cart-page .ca-prod .btn-danger {
    padding: 0.075rem 0.25rem;
    cursor: pointer;
}
.cart-page .product_count {
    margin-left: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
}
.cart-page .product_count span {
    cursor: pointer;
}
.cart-page .product_count input {
    border: 0px solid 
    transparent;
    text-align: center;
}
.cart-page .product_count .input-number {
    display: inline-block;
    width: 40px;
}
.cart-page {
    min-height: 435px;
}
.cart-page section h2 {
    padding-top: 0rem;
    padding-bottom: 0rem;
}
/***** end of cart page *****/































@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: initial;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

@media (max-width: 500px) {
    .nav-item > .nav-link.totals {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }
}